extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    section#introSection
        div Welcome to Harry's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="https://pngimg.com/d/dancer_PNG109.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="https://pngimg.com/d/dancer_PNG103.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="https://i.pinimg.com/736x/cc/cb/68/cccb68f1b9998b3ec061ce3a158ccbe4.jpg")

                div.card-content
                    p This is the best dance academy of the universe
    section#sponsorsSection
            h2 Our Sponsors
            div#sponsors
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/600px-Apple-logo.png?20200509031052", alt="Sponsors Image", class = "spImage")
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/1280px-Microsoft_logo_%282012%29.svg.png", alt="Sponsors Image", class = "spImage")
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/100px-HP_logo_2012.svg.png", alt="Sponsors Image", class = "spImage")
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Skype_logo_%28fully_transparent%29.svg/800px-Skype_logo_%28fully_transparent%29.svg.png", alt="Sponsors Image", class = "spImage")